@page "/delete/{id}"

@inject HttpClient client
@inject NavigationManager navigationManager

<form>
    <div class="row">
        <div class=" col-md-8">
            <div class="form-group">
                <label>Id: </label>
                <label>@city.Id</label>
            </div>
            <div class="form-group">
                <label>Name: </label>
                <label>@city.Name</label>
            </div>
            <div class="form-group">
                <label>Code: </label>
                <label>@city.Code</label>
            </div>
            <div class="form-group">
                <label>Rate: </label>
                <label>@city.Rate</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@Remove" value="Delete" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string id { get; set; }
    City city = new City();
    protected override async Task OnInitializedAsync() {
        city = await client.GetFromJsonAsync<City>($"api/city/{id}");
    }
    protected async void Remove()
    {
        await client.DeleteAsync($"api/city/{id}");
        navigationManager.NavigateTo("/");
    }
}